USE [master]
GO
/****** Object:  Database [Book]    Script Date: 18/09/2025 9:28:47 SA ******/
CREATE DATABASE [Book]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Book', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.KHANHNGHI\MSSQL\DATA\Book.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Book_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.KHANHNGHI\MSSQL\DATA\Book_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Book].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Book]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 18/09/2025 9:28:47 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[AuthorId] [int] IDENTITY(1,1) NOT NULL,
	[AuthorName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookPurchases]    Script Date: 18/09/2025 9:28:47 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookPurchases](
	[PurchaseId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[ComicId] [int] NOT NULL,
	[PaymentMethodId] [int] NOT NULL,
	[PaymentStatusId] [int] NOT NULL,
	[PaymentDate] [datetime] NULL,
	[TransactionId] [nvarchar](100) NULL,
	[Amount] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PurchaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChapterImages]    Script Date: 18/09/2025 9:28:47 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChapterImages](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[ChapterId] [int] NOT NULL,
	[ImageUrl] [nvarchar](255) NOT NULL,
	[ImageOrder] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chapters]    Script Date: 18/09/2025 9:28:47 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chapters](
	[ChapterId] [int] IDENTITY(1,1) NOT NULL,
	[ComicId] [int] NOT NULL,
	[ChapterNumber] [int] NOT NULL,
	[ChapterTitle] [nvarchar](150) NULL,
	[CreateAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ChapterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComicGenres]    Script Date: 18/09/2025 9:28:47 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComicGenres](
	[ComicId] [int] NOT NULL,
	[GenreId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ComicId] ASC,
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comics]    Script Date: 18/09/2025 9:28:47 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comics](
	[ComicId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[ComicDescription] [text] NOT NULL,
	[AuthorId] [int] NOT NULL,
	[CreateAt] [datetime] NOT NULL,
	[ComicImageUrl] [nvarchar](255) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[TotalView] [int] NULL,
	[TotalViews] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ComicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 18/09/2025 9:28:47 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[GenreId] [int] IDENTITY(1,1) NOT NULL,
	[GenreName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 18/09/2025 9:28:47 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[PaymentMethodId] [int] NOT NULL,
	[MethodName] [nvarchar](50) NOT NULL,
	[DescriptionMethod] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentStatus]    Script Date: 18/09/2025 9:28:47 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentStatus](
	[PaymentStatusId] [int] NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleUsers]    Script Date: 18/09/2025 9:28:47 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleUsers](
	[RoleUserId] [int] NOT NULL,
	[RoleUserName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubscriptionPurchases]    Script Date: 18/09/2025 9:28:47 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubscriptionPurchases](
	[PurchaseId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[SubscriptionId] [int] NOT NULL,
	[PaymentMethodId] [int] NOT NULL,
	[PaymentStatusId] [int] NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[ExpiryDate] [datetime] NOT NULL,
	[TransactionId] [nvarchar](100) NULL,
	[Amount] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PurchaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscriptions]    Script Date: 18/09/2025 9:28:47 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscriptions](
	[SubscriptionId] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Duration] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubscriptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 18/09/2025 9:28:47 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserName] [nvarchar](50) NOT NULL,
	[ExternalId] [nvarchar](255) NULL,
	[ProviderName] [nvarchar](50) NULL,
	[RoleId] [int] NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](128) NULL,
	[Salt] [nvarchar](32) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Authors] ON 

INSERT [dbo].[Authors] ([AuthorId], [AuthorName]) VALUES (1, N'Khanh')
INSERT [dbo].[Authors] ([AuthorId], [AuthorName]) VALUES (2, N'Nghi')
INSERT [dbo].[Authors] ([AuthorId], [AuthorName]) VALUES (1002, N'Katarina')
SET IDENTITY_INSERT [dbo].[Authors] OFF
GO
SET IDENTITY_INSERT [dbo].[ChapterImages] ON 

INSERT [dbo].[ChapterImages] ([ImageId], [ChapterId], [ImageUrl], [ImageOrder]) VALUES (5, 2, N'/images/comics/6/chapters/2/09c06e29-6303-45d3-a0ce-6123b9252476_1.jpeg', 1)
INSERT [dbo].[ChapterImages] ([ImageId], [ChapterId], [ImageUrl], [ImageOrder]) VALUES (6, 2, N'/images/comics/6/chapters/2/488f89f5-69b0-4986-8396-fb8cba7949e9_2.jpeg', 2)
INSERT [dbo].[ChapterImages] ([ImageId], [ChapterId], [ImageUrl], [ImageOrder]) VALUES (7, 2, N'/images/comics/6/chapters/2/8f223a9e-bf90-4918-bdd6-32340c1f4db9_3.jpeg', 3)
SET IDENTITY_INSERT [dbo].[ChapterImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Chapters] ON 

INSERT [dbo].[Chapters] ([ChapterId], [ComicId], [ChapterNumber], [ChapterTitle], [CreateAt]) VALUES (2, 6, 2, N'sự khởi đầu', CAST(N'2025-09-12T17:38:54.263' AS DateTime))
INSERT [dbo].[Chapters] ([ChapterId], [ComicId], [ChapterNumber], [ChapterTitle], [CreateAt]) VALUES (3, 6, 2, N'hành trình bí ẩn', CAST(N'2025-09-14T11:39:53.173' AS DateTime))
INSERT [dbo].[Chapters] ([ChapterId], [ComicId], [ChapterNumber], [ChapterTitle], [CreateAt]) VALUES (4, 3, 1, N'chapter 1', CAST(N'2025-09-14T12:08:54.537' AS DateTime))
SET IDENTITY_INSERT [dbo].[Chapters] OFF
GO
INSERT [dbo].[ComicGenres] ([ComicId], [GenreId]) VALUES (3, 1)
INSERT [dbo].[ComicGenres] ([ComicId], [GenreId]) VALUES (3, 2)
INSERT [dbo].[ComicGenres] ([ComicId], [GenreId]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[Comics] ON 

INSERT [dbo].[Comics] ([ComicId], [Title], [ComicDescription], [AuthorId], [CreateAt], [ComicImageUrl], [Price], [TotalView], [TotalViews]) VALUES (3, N'Làm ơn đi', N'du?c di mà', 2, CAST(N'2025-09-11T17:29:02.483' AS DateTime), N'/images/comics/3/cover.jpg', CAST(0.00 AS Decimal(10, 2)), NULL, 0)
INSERT [dbo].[Comics] ([ComicId], [Title], [ComicDescription], [AuthorId], [CreateAt], [ComicImageUrl], [Price], [TotalView], [TotalViews]) VALUES (4, N'Có lẽ nào', N'chính là nó', 2, CAST(N'2025-09-11T17:36:07.870' AS DateTime), N'/images/comics/4/cover.jpg', CAST(0.00 AS Decimal(10, 2)), NULL, 0)
INSERT [dbo].[Comics] ([ComicId], [Title], [ComicDescription], [AuthorId], [CreateAt], [ComicImageUrl], [Price], [TotalView], [TotalViews]) VALUES (6, N'One Punch Man', N'Onepunch-Man là m?t Manga th? lo?i siêu anh hùng v?i d?c trung ph?ng tôm d?m phát ch?t luôn… Lol!!! Nhân v?t chính trong Onepunch-man là Saitama, m?t con ngu?i mà nhìn dâu cung th?y “t?m thu?ng”, t? khuôn m?t vô h?n, cái d?u tr?c lóc, cho t?i th? hình long tong. ', 1010, CAST(N'2025-09-12T17:06:17.540' AS DateTime), N'/images/comics/6/cover.jpg', CAST(20.00 AS Decimal(10, 2)), NULL, 0)
SET IDENTITY_INSERT [dbo].[Comics] OFF
GO
SET IDENTITY_INSERT [dbo].[Genres] ON 

INSERT [dbo].[Genres] ([GenreId], [GenreName]) VALUES (1, N'Romance')
INSERT [dbo].[Genres] ([GenreId], [GenreName]) VALUES (2, N'Lãng Mạn')
INSERT [dbo].[Genres] ([GenreId], [GenreName]) VALUES (3, N'Tình Cảm')
SET IDENTITY_INSERT [dbo].[Genres] OFF
GO
INSERT [dbo].[PaymentMethods] ([PaymentMethodId], [MethodName], [DescriptionMethod]) VALUES (1, N'Paypal', N'Thanh toán qua Paypal')
INSERT [dbo].[PaymentMethods] ([PaymentMethodId], [MethodName], [DescriptionMethod]) VALUES (2, N'VNPay', N'Thanh toán qua VNPay')
GO
INSERT [dbo].[PaymentStatus] ([PaymentStatusId], [StatusName]) VALUES (1, N'Completed')
INSERT [dbo].[PaymentStatus] ([PaymentStatusId], [StatusName]) VALUES (2, N'Pending')
INSERT [dbo].[PaymentStatus] ([PaymentStatusId], [StatusName]) VALUES (3, N'Failed')
GO
INSERT [dbo].[RoleUsers] ([RoleUserId], [RoleUserName]) VALUES (1, N'Reader')
INSERT [dbo].[RoleUsers] ([RoleUserId], [RoleUserName]) VALUES (2, N'Admin')
GO
INSERT [dbo].[Users] ([UserName], [ExternalId], [ProviderName], [RoleId], [Email], [PasswordHash], [Salt]) VALUES (N'icbadmin', NULL, NULL, 2, N'khanh.nghiquang@gmail.com', N'32276667050370D2032641F5EDDAC50D53BC2DCFDBF0A14C384B4F6CCBB144E261FD958FEF6549EBBA57CB6CCF2184B6CFF354CD0F647B4166447E0D9D51B171', N'295AD2F1B94ABBC632404FF55859AA63')
INSERT [dbo].[Users] ([UserName], [ExternalId], [ProviderName], [RoleId], [Email], [PasswordHash], [Salt]) VALUES (N'sherry', N'Local_sherry', NULL, 1, N'sherry@gmail.com', N'5A13B475D65803D68586D3C71F2A4C2F6DC7E8681D1F1600C35368313733D3F353D9E8CF18BFFC73B1C073C0CBF5419C0F5BC2077EAB9A1675E06E987C16B3C8', N'C7DF1D9C5C766E3A1D0C89002DD3B2FA')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PaymentM__218CFB174AA11443]    Script Date: 18/09/2025 9:28:47 SA ******/
ALTER TABLE [dbo].[PaymentMethods] ADD UNIQUE NONCLUSTERED 
(
	[MethodName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ExternalId_ProviderName]    Script Date: 18/09/2025 9:28:47 SA ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_ExternalId_ProviderName] UNIQUE NONCLUSTERED 
(
	[ExternalId] ASC,
	[ProviderName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Chapters] ADD  DEFAULT (getdate()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[Comics] ADD  DEFAULT (getdate()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[Comics] ADD  DEFAULT ((0)) FOR [TotalViews]
GO
ALTER TABLE [dbo].[BookPurchases]  WITH CHECK ADD  CONSTRAINT [FK_BookPurchases_Comics] FOREIGN KEY([ComicId])
REFERENCES [dbo].[Comics] ([ComicId])
GO
ALTER TABLE [dbo].[BookPurchases] CHECK CONSTRAINT [FK_BookPurchases_Comics]
GO
ALTER TABLE [dbo].[BookPurchases]  WITH CHECK ADD  CONSTRAINT [FK_BookPurchases_PaymentMethods] FOREIGN KEY([PaymentMethodId])
REFERENCES [dbo].[PaymentMethods] ([PaymentMethodId])
GO
ALTER TABLE [dbo].[BookPurchases] CHECK CONSTRAINT [FK_BookPurchases_PaymentMethods]
GO
ALTER TABLE [dbo].[BookPurchases]  WITH CHECK ADD  CONSTRAINT [FK_BookPurchases_PaymentStatus] FOREIGN KEY([PaymentStatusId])
REFERENCES [dbo].[PaymentStatus] ([PaymentStatusId])
GO
ALTER TABLE [dbo].[BookPurchases] CHECK CONSTRAINT [FK_BookPurchases_PaymentStatus]
GO
ALTER TABLE [dbo].[BookPurchases]  WITH CHECK ADD  CONSTRAINT [FK_BookPurchases_Users] FOREIGN KEY([UserName])
REFERENCES [dbo].[Users] ([UserName])
GO
ALTER TABLE [dbo].[BookPurchases] CHECK CONSTRAINT [FK_BookPurchases_Users]
GO
ALTER TABLE [dbo].[ChapterImages]  WITH CHECK ADD  CONSTRAINT [FK_ChapterImages_Chapters] FOREIGN KEY([ChapterId])
REFERENCES [dbo].[Chapters] ([ChapterId])
GO
ALTER TABLE [dbo].[ChapterImages] CHECK CONSTRAINT [FK_ChapterImages_Chapters]
GO
ALTER TABLE [dbo].[Chapters]  WITH CHECK ADD  CONSTRAINT [FK_Chapters_Comics] FOREIGN KEY([ComicId])
REFERENCES [dbo].[Comics] ([ComicId])
GO
ALTER TABLE [dbo].[Chapters] CHECK CONSTRAINT [FK_Chapters_Comics]
GO
ALTER TABLE [dbo].[ComicGenres]  WITH CHECK ADD  CONSTRAINT [FK_ComicGenres_Comics] FOREIGN KEY([ComicId])
REFERENCES [dbo].[Comics] ([ComicId])
GO
ALTER TABLE [dbo].[ComicGenres] CHECK CONSTRAINT [FK_ComicGenres_Comics]
GO
ALTER TABLE [dbo].[ComicGenres]  WITH CHECK ADD  CONSTRAINT [FK_ComicGenres_Genres] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genres] ([GenreId])
GO
ALTER TABLE [dbo].[ComicGenres] CHECK CONSTRAINT [FK_ComicGenres_Genres]
GO
ALTER TABLE [dbo].[Comics]  WITH CHECK ADD  CONSTRAINT [FK_Comics_Authors] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Authors] ([AuthorId])
GO
ALTER TABLE [dbo].[Comics] CHECK CONSTRAINT [FK_Comics_Authors]
GO
ALTER TABLE [dbo].[SubscriptionPurchases]  WITH CHECK ADD  CONSTRAINT [FK_SubscriptionPurchases_PaymentMethods] FOREIGN KEY([PaymentMethodId])
REFERENCES [dbo].[PaymentMethods] ([PaymentMethodId])
GO
ALTER TABLE [dbo].[SubscriptionPurchases] CHECK CONSTRAINT [FK_SubscriptionPurchases_PaymentMethods]
GO
ALTER TABLE [dbo].[SubscriptionPurchases]  WITH CHECK ADD  CONSTRAINT [FK_SubscriptionPurchases_PaymentStatus] FOREIGN KEY([PaymentStatusId])
REFERENCES [dbo].[PaymentStatus] ([PaymentStatusId])
GO
ALTER TABLE [dbo].[SubscriptionPurchases] CHECK CONSTRAINT [FK_SubscriptionPurchases_PaymentStatus]
GO
ALTER TABLE [dbo].[SubscriptionPurchases]  WITH CHECK ADD  CONSTRAINT [FK_SubscriptionPurchases_Subscriptions] FOREIGN KEY([SubscriptionId])
REFERENCES [dbo].[Subscriptions] ([SubscriptionId])
GO
ALTER TABLE [dbo].[SubscriptionPurchases] CHECK CONSTRAINT [FK_SubscriptionPurchases_Subscriptions]
GO
ALTER TABLE [dbo].[SubscriptionPurchases]  WITH CHECK ADD  CONSTRAINT [FK_SubscriptionPurchases_Users] FOREIGN KEY([UserName])
REFERENCES [dbo].[Users] ([UserName])
GO
ALTER TABLE [dbo].[SubscriptionPurchases] CHECK CONSTRAINT [FK_SubscriptionPurchases_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_RoleUsers] FOREIGN KEY([RoleId])
REFERENCES [dbo].[RoleUsers] ([RoleUserId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_RoleUsers]
GO
USE [master]
GO
